# SMTP email details for the contact form
SMTP_USER=info@nazariancapital.com
SMTP_PASS=zJcr$FuLEDaS2b8Y

# Destination email for contact form submissions
CONTACT_EMAIL=info@nazariancapital.com

# Public site URL (used for metadata / Open Graph)
NEXT_PUBLIC_SITE_URL=https://nazariancapital.com
